body{
		position: absolute;
		left: 100px;
		top: 10px;
}
table.cal{
	color: #06455c;
	border-spacing: 0;
	border: 3px solid black;
	border-radius: 0 0 25px 25px;
}
tr:nth-child(odd){
	background: #F2F2F2;
}
tr:nth-child(even){
		background: #CDBB79;
}
.cal caption{
	background-color: #666666;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 150%;
	border-radius: 25px 25px 0px 0px;
}
.cal span{
	visibility: hidden;
}
.cal td, .cal th{
	margin: 2px;
	padding: 2px;
}
th{
	text-align: center;
	background: #ffffff;
}
.cal td{
	width: 75px;
	height: 75px;
	vertical-align: top;
}
td:active.holiday{
	background: rgba(255,50,50,0.4);
	border: 2px dashed red;
}
.old{
	padding: 0;
	margin: 0;
	background-color: #51A39D;
	color: rgba(0,0,0,0.25);
	border-spacing: 0;
}
td:active>span{
	visibility: visible;
}